table,
th,
tr,
td {
  border: 1px solid black;
}

.grid-container {
  padding: 0 !important;
  position: relative !important;
}

.backpack-container {
  padding-left: 0 0 0 2px !important;
}

.backpack-container .stack-key {
  color: #cddc39;
}

table {
  border-collapse: collapse;
}

.pointer {
  width: 20px;
  background-color: yellowgreen;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
